.ContainerHeader {
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  line-height: 70px;
  background-color: #fff;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.logo {
  margin-top: 1rem;
}

.ContainerHeader .logo img {
  max-width: 180px;
  max-height: 90px;
}

.ContainerHeader .menu ul {
  margin: 0;
  list-style-type: none;
}

.ContainerHeader .menu ul li {
  margin: 0;
  float: left;
}

.ContainerHeader .menu ul li a {
  text-decoration: none;
  color: #333;
  font-family: poppins;
  font-weight: 500;
  padding: 0 30px;
  display: inline-block;
}

.ContainerHeader .menu .ccc {
  position: absolute;
  width: 30px;
  display: block;
  top: 15px;
  bottom: 15px;
  background-color: #333;
  z-index: -1;
}

.ContainerHeader .menu ul li.mleave.active a {
  color: #333;
}

.ContainerHeader .menu ul li.active a {
  color: #fff;
}

.ContainerHeader .menu ul li a:hover {
  color: #fff;
  cursor: pointer;
}

.ContainerHeader .logo .text {
  line-height: 60px;
}

.ContainerHeader .menu ul li a {
  padding: 0 22px;
  position: relative;
}

.ContainerHeader .menu ul li {
  line-height: 38px;
}

.ContainerHeader .menu ul li a:after {
  left: 0;
  height: 0;
  background: #333;
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  transition: all 0.6s ease 0.3s;
  z-index: -1;
}

.ContainerHeader .menu ul li a.active {
  left: 0;
  height: 0;
  background: #333;
  height: 100%;
  z-index: 100;
  color: #fff;
}
