<div class="ContainerHeader">
  <div class="logo">
    <a href="#">
      <img
        class="image"
        src="assets/myAppLogo.png"
        alt=""
        width="100%"
        height="100%"
      />
    </a>
  </div>
  <div class="menu">
    <ul class="transition_link">
      <li (click)="handleOnClick(0)">
        <a [ngClass]="{ active: canActive(0) }">Accueil</a>
      </li>
      <li (click)="handleOnClick(1)">
        <a [ngClass]="{ active: canActive(1) }">Qui Sommes-nous</a>
      </li>
      <li (click)="handleOnClick(2)">
        <a [ngClass]="{ active: canActive(2) }">Portfolio</a>
      </li>
      <li (click)="handleOnClick(3)">
        <a [ngClass]="{ active: canActive(3) }"> Secteurs d'activité </a>
      </li>
      <li (click)="handleOnClick(4)">
        <a [ngClass]="{ active: canActive(4) }">Contact</a>
      </li>
    </ul>
  </div>
</div>
