<div *ngIf="activeIndex === 4" class="container">
  <div class="contactStyle">
    <div class="title">
      <span>Nous contacter</span>
    </div>

    <div class="contactAdress">
      <div class="list_inner">
        <span> 11 RUE SADI CARNOT 33400</span>
      </div>
      <div class="list_inner">
        <span>
          <a href="#">contact@mon-app.com</a>
        </span>
      </div>
      <div class="list_inner">
        <span>+33*********</span>
      </div>
    </div>

    <div class="form">
      <div class="fields">
        <form class="contact_form">
          <div class="fields">
            <input name="firstName" type="text" placeholder="Nom" />

            <input name="lastName" type="text" placeholder="Prénom" />

            <input name="email" type="email" placeholder="Email" />

            <input name="birthDate" type="date" placeholder="Nle" />

            <textarea
              name="motivation"
              placeholder="Donner nous vos motivation"
            ></textarea>

            <button>Envoyer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
