.container {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 0;
  width: 45%;
}

.title {
  font-size: x-large;
}

.contactAdress {
  display: flex;
  margin-top: 3rem;
}

.list_inner {
  width: 100%;
  height: 100%;
  clear: both;
  float: left;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.07);
  text-align: center;
  padding: 32px 25px;
}

.form {
  width: 100%;
  height: auto;
  clear: both;
  display: flex;
}

input {
  width: 90%;
  height: 2rem;
  margin-top: 2rem;
  border-radius: 4px;
}

textarea {
  width: 90%;
  height: 2rem;
  margin-top: 2rem;
  border-radius: 4px;
}

button {
  width: 90%;
  height: 2rem;
  margin-top: 2rem;
  border-radius: 4px;
  color: #fff;
  display: inline-block;
  background-color: #333;
  padding: 1.5rem;
  line-height: 6px;
  text-transform: none;
  border: 2px solid #333;
  font-weight: 500;
  font-size: 16px;
}
