<app-header
  [handleOnClickProp]="handleOnClick"
  [canActiveProp]="canActive"
></app-header>

<div class="cavani_tm_mainpart">
  <app-home-default></app-home-default>

  <div className="container">
    <app-home
      [activeIndex]="activeIndex"
      [handleOnClickProp]="handleOnClick"
    ></app-home>
    <app-contact
      [activeIndex]="activeIndex"
      [handleOnClickProp]="handleOnClick"
    ></app-contact>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
