<div *ngIf="activeIndex === 0" class="container">
  <div class="cavani_tm_home">
    <div class="content">
      <h3 class="name">Bien venue dans mon app control</h3>
      <span class="line"></span>

      <div class="buttonStyle transition_link">
        <a (click)="handleOnClick(4)">Nous contacter</a>
      </div>
    </div>
  </div>
</div>
