.container {
  position: absolute;
  top: 150px;
  right: 0;
  bottom: 0;
  width: 40%;
}

.buttonStyle {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
}
.buttonStyle .a,
.buttonStyle a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  background-color: #333;
  padding: 28px 38px;
  line-height: 6px;
  text-transform: none;
  border: 2px solid #333;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
}
.buttonStyle .a:hover,
.buttonStyle a:hover {
  background-color: transparent;
  color: #333;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 5px;
}
